---

// IMPORT ASTRO ATOMS
import Paragraph5xlCenterWhite from "@/atoms/atoms-nandini/paragraphs/5xl/center/white/index.astro"

// HARDCODED DATA
const data = {

    title:"Think elevate.",

}

---
<section class="bg-gray-900 pb-36">
    <Paragraph5xlCenterWhite>{ data.title }</Paragraph5xlCenterWhite>
</section>
