---

// IMPORT ASTRO LAYOUTS
import Container from "@/layouts/container/index.astro"

// IMPORT ASTRO ATOMS
import ButtonRed from "@/atoms/atoms-nandini/buttons/button-red/index.astro"
import HeadingThree5xlWhite from "@/atoms/atoms-nandini/headings/three/5xl/white/index.astro"
import HeadingTwo3xlCenter from "@/atoms/atoms-nandini/headings/two/3xl/center/index.astro"
import Link from "@/atoms/links/index.astro"
import ParagraphExtraLarge from "@/atoms/atoms-nandini/paragraphs/xl/index.astro"
import PictureInternal from "@/atoms/picture/internal/index.astro"

// SERVICES ARRAY
const services = [

    { 
        description:"Spire crafts data-driven strategy and product launch plans to help companies best understand and reach their customers.",
        source:"/images/our-services-1.jpg",
        title:"Growth Planning",
    },
    { 
        description:"Just having a Unique Selling Proposition isn’t enough. The only way to stand out is to show your customer what you stand for.",
        source:"/images/our-services-2.jpg",
        title:"Brand Foundation",
    },
    { 
        description:"We work with our B2B clients to build out the sales tools they need to quickly and effectively move their prospects all the way through the funnel.",
        source:"/images/our-services-3.jpg",
        title:"Sales Enablement",
    },
    { 
        description:"Unless you have an unlimited budget (which you don’t), you’re going to need to get creative if you want to get noticed (which you do).",
        source:"/images/our-services-4.jpg",
        title:"Brand Awareness",
    },

]

// HARDCODED DATA
const data = {

    button_link:"/services/",
    button_text:"VIEW SERVICES",
    title:"Our services"

}

---

<section class="bg-gray-100 py-20">
    <Container>
        <div class="space-y-20">
            <HeadingTwo3xlCenter>{ data.title }</HeadingTwo3xlCenter>
            <div class="grid grid-cols-2 lg:grid-cols-4 gap-5">
                { 

                    services.map( ( item ) =>{

                        return (

                                <div class="space-y-5">
                                    <div class="relative">
                                        <div class="w-full aspect-[2/3]">
                                            <PictureInternal 
                                                alternative_text={ item.title }
                                                source={ item.source }
                                            />
                                        </div>
                                        <div class="absolute left-4 bottom-4 mr-6">
                                            <HeadingThree5xlWhite>{ item.title }</HeadingThree5xlWhite>
                                        </div>
                                    </div>
                                    <div class="pr-10">
                                        <ParagraphExtraLarge>{ item.description }</ParagraphExtraLarge>
                                    </div>
                                </div>

                        )

                    })

                }
            </div>
            <div class="flex justify-center items-center">
                <Link aria_label={ data.button_link } href={ data.button_link }>
                    <ButtonRed>{ data.button_text }</ButtonRed>
                </Link>
            </div>
        </div>
    </Container>
</section>
