<button class="text-gray-400 text-xl hover:text-black duration-500 border-2 border-gray-400 hover:bg-white hover:border-white font-proxima_nova font-semibold rounded-full px-12 py-2">
    <slot/>
</button>
